<ion-item>
  <ion-grid >
    <div *ngFor="let item of accounts; let i = index" >
      <ion-row *ngIf="i % 2 === 0">
        <ion-col *ngIf="accounts[i]">
          <ion-card class="ion-activatable ripple-parent rectangle">
            <button (click)="openModal(accounts[i])" style="width: 100%">
              <ion-card-content>
                <h5><b>${{accounts[i].currentBalance}}</b></h5>
                <p>{{accounts[i].name}}</p>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </ion-card>
        </ion-col>
        <ion-col *ngIf="accounts[i+1]">
          <ion-card class="ion-activatable ripple-parent rectangle">
            <button (click)="openModal(accounts[i+1])" style="width: 100%" expand="block">
              <ion-card-content>
                <h5><b>${{accounts[i+1].currentBalance}}</b></h5>
                <p>{{accounts[i+1].name}}</p>
              </ion-card-content>
              <ion-ripple-effect></ion-ripple-effect>
            </button>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-item>
